@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Special Interest Group<br />
    Bentley Technology Champions<br />
</address>

<address>
    <strong>Team:</strong>
    <a href="mailto:Asad.Bukhari@bentley.com">Asad.Bukhari@bentley.com</a><br />
    <a href="mailto:Muhammad.Bilal@bentley.com">Muhammad.Bilal@bentley.com</a><br />
    <a href="mailto:Dawood.Farooq@bentley.com">Daood.Farooq@bentley.com</a><br />
    <a href="mailto:Bilal.Farooq@bentley.com">Bilal.Farooq@bentley.com</a><br />
    <a href="mailto:Ali.Raza@bentley.com">Ali.Raza@bentley.com</a><br />
    <a href="mailto:Irshad.Babar@bentley.com">Irshad.Babar@bentley.com</a><br />
</address>