@model IEnumerable<EventsManagerModels.Event>

@{
    ViewBag.Title = "Index - Grid View";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create") |
    @Html.ActionLink("Back to List View", "ListView") | 
	@Html.ActionLink("Event Schedules", "Index", "Schedules")
</p>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
            {
            <div class="col-lg-4 col-md-4 col-sm-6">
                @Html.Partial("_EventPartialView", item)
            </div>    }
    </div>

</div>
