@model IEnumerable<EventsManagerModels.Employee>

@{
	ViewBag.Title = "Employees - Grid View";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create") |
	@Html.ActionLink("Back to List View", "ListView")
</p>

<div class="container">
		<div class="row">
			@foreach (var item in Model)
				{
				<div class="col-lg-4 col-md-4 col-sm-6">
					@Html.Partial("_EmployeePartialView", item)
				</div>
				}
		</div>

	</div>

<!--
<table class="table">
	<tr>
	@foreach (var item in Model)
		{
			@Html.Partial("_EmployeePartialView", item)
		}
	</tr>
</table>
	-->

